<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的电脑</title>
		<script type="text/javascript" src="../../js/vue.js" ></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="app.js"></script>
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="app.css" rel="stylesheet">
		<style>
		*{
			margin: 0px;
			padding: 0px;
		}
		</style>
	</head>
	<body style="height:100%;">
		<Toast class="toast" :text="msg" :display="display" :color="color" :background="background"></Toast>
		<div class="listFile" style="height:100%;min-height:100%" @contextmenu.prevent="popmenu"  @dragover.prevent="dragover" @drop.prevent="drop" >
			<input type="file" style="display:none" ref="filElem" @change="getFile">
			<div v-if="success" class="container contain">
				<!--输入框中的内容-->
				<div class="row">
							<div class="col-md-12 col-lg-12 col-sm-12">
								{{path}}
							</div>
				</div>
				<!--显示当行-->
				<div class="row">
					<div class="col-md-4 col-lg-4 col-sm-4">文件名称</div>
					<div class="col-md-4 col-lg-4 col-sm-4  visible-lg-block visible-md-block">修改时间</div>
					<div class="col-md-4 col-lg-4 col-sm-4  visible-lg-block visible-md-block">大小</div>
				</div>


				<div v-for="(item,index) in fileList" @dblclick="selectFile(index)" @click="select(index)" @contextmenu.prevent="popmenu"  v-bind:class="{item:true,row:true,item_seleted:item.seleted}" > 
					<!--显示每个条目-->	
					<div class="col-md-4 col-lg-4 col-sm-4 text">
								<img style="width:30px;height:30px;" v-bind:src="item.img">
								<template v-if="item.edit">
										<input style="height:30px" ref="edit" type="text" v-model="item.name" v-bind:old="item.name" autofocus="autofocus" @blur="unedit(index)" >
								</template>
								<template v-else>
										<span >{{item.name}}</span>
								</template>
								
						</div>
						<div class="col-md-4 col-lg-4 col-sm-4  visible-lg-block visible-md-block">{{item.time}}</div>
						<div class="col-md-4 col-lg-4 col-sm-4  visible-lg-block visible-md-block" >{{item.size}}</div>
				</div>
			</div>
			<template v-else>
				<div class="error">{{message}}</div>
			</template>
		</div>

		<div class="pop_menu" v-bind:style="{display:display,left:x,top:y}">
			<ul>
				<li v-for="(item,indexp) in list" >
					
					<template v-if="item.list">
							<div >{{item.name}}</div>
						<span class="more"></span>
						<ul>
							<li v-for="(item2,index2) in item.list" ><div @click.prevent="selectMenu(indexp,index2)" >{{item2.name}}</div></li>
						</ul>
					</template>
					<template v-else>
							<div @click.prevent="selectMenu(indexp,-1)">{{item.name}}</div>
					</template>
				</li>
			</ul>
		</div>
    
	</body>
	<script>
	
	var popMenu=null;
	var fileList=null;
	var toast=null;
	fileList=new Vue({
		el:'.listFile',
		data:{
			fileList:[],
			path:'/',
			success:false,
			message:'',
		},
		created:function() {
			var that=this;
			this.load({name:this.path});
		},
		methods: {
			//加载文件
			load:function(param){
				var that=this;
				axios({
						method:'post',
						url:'/file/list.do',
						timeout: 1000,
						params:param,
						//请求头
						headers:{
							'custome-header': 'miaov',
						}
				}).then(function(res){
					var data=res.data;
					that.message=data.message;
					if(data.success==0){
						that.success=true;
						for(var i=0;i<data.data.length;i++){
							//是否选中
							data.data[i].seleted=false;
							if(data.data[i].isDir){
								data.data[i].img="/icon/folder.png"
							}else{
								data.data[i].img="/icon/file.png"
							}
							//是否可以修改
							data.data[i].edit=false;
							//保存原来的名字
							data.data[i].old=data.data[i].name;
							//类型
							data.data[i].type="rename";
						}
						that.path=param.name;
						that.fileList=data.data;
						//添加返回列
						if(true){
							var parent={
								name:'上级目录',
								img:'/icon/folder.png',
								selected:false,
								isDir:true,
								back:true,
							};
							that.fileList.unshift(parent);
						}
					}else{
						that.success=false;
					}
				});
			},
			//双击选择
			selectFile:function(index){
				var item=this.fileList[index];
				var that=this;
				if(item.back){
					var path=this.path;
					path=path.substring(0, path.lastIndexOf('/'));
					path=path.substring(0, path.lastIndexOf('/'))+"/";
					this.load({name:path});
				}else if(item.isDir){
					this.path+=item.name+"/";
					this.load({name:this.path});
				}else{
					console.log("是文件");
					toast.show("是文件");
				}
			},
			//单击选择
			select:function(index){
				popMenu.hide();
				for(var i=0;i<this.fileList.length;i++){
					if(i==index){
						this.fileList[i].seleted=true;
					}else{
						this.fileList[i].seleted=false;
					}
					
				}
			},
			//右键菜单
			popmenu:function(e){
				var event=event||window.event;
				var x=(event.clientX)+"px";
				var y=(event.clientY)+"px";
				popMenu.show(x,y);
			},
			//删除
			delet:function(path){

				var that=this;
				axios({
						method:'post',
						url:'/file/del.do',
						timeout: 1000,
						params:{name:path},
				}).then(function(res){
					if(res.data.success==0){
						that.load({name:that.path});
					}else{
						toast.show(res.data.message);
					}
					
				});
				
			},
			//失去焦点事件
			unedit:function(index){
				var that=this;
				this.fileList[index].edit=false;
				var rename=this.path+this.fileList[index].name;
				var url=null;
				var param={};
				if(this.fileList[index].type=='rename'){
					var old=this.path+this.fileList[index].old;
					console.log("old:"+old)
					console.log("rename:"+rename)
					if(rename!=old){
						url='/file/rename.do';
						param={name:rename,old:old};
					}
				}else if(this.fileList[index].type=='newDir'){
					console.log("提交新建目录");
					url='/file/create.do';
					param={name:rename,type:'dir'};
				}else if(this.fileList[index].type=='newFile'){
					url='/file/create.do';
					param={name:rename,type:'file'};
					console.log("提交新建wenj");
				}

				//提交表单
				if(url){
					axios({
							method:'post',
							url:url,
							timeout: 1000,
							params:param,
					}).then(function(res){
						that.load({name:that.path});
						toast.show(res.data.message);
					});
				}
				
			},
			//文件拖拽上传
			dragover:function(e){
				e.preventDefault();
				//阻止默认事件
			},
			drop:function(e){
				var that=this;
				var f=e.dataTransfer.files[0];//获取到第一个上传的文件对象
				var fr=new FileReader();//实例FileReader对象
				fr.readAsDataURL(f);//把上传的文件对象转换成url
				fr.onload=function (e){
					var image = new FormData();
					image.append("path",that.path);
					image.append("file",f);
					var header={
						headers: {'Content-Type': 'multipart/form-data'}
					};
					toast.show("图片上传中请稍等....",0);
					axios.post('/file/upload.do',image,header).then(function(res){
						toast.text(res.data.message,1000);
						if(res.data.success==0){
							that.load({name:that.path});
						}
					});
				}

			},
			getFile:function(){
				var that = this;
				var f = this.$refs.filElem.files[0];
				var name=f.name;

				var fr=new FileReader();//实例FileReader对象
				fr.readAsDataURL(f);//把上传的文件对象转换成url
				fr.onload=function (e){
					var image = new FormData();
					image.append("path",that.path);
					image.append("file",f);
					var header={
						headers: {'Content-Type': 'multipart/form-data'}
					};
					toast.show("图片上传中请稍等....",0);
					axios.post('/file/upload.do',image,header).then(function(res){
						toast.text(res.data.message,1000);
						if(res.data.success==0){
							that.load({name:that.path});
						}
					});
				}
			}
		},
	});

	popMenu=new Vue({
		el:'.pop_menu',
		created:function(){
			this.list=[
				{name:'打开',id:'open'},
				{name:'新建',list:[
					{name:'新建文件',id:'newFile'},
					{name:'新建目录',id:'newDir'},
				]},
				{name:'重命名',id:'rename'},
				{name:'刷新',id:'refresh'},
				{name:'上传',id:'upload'},
				{name:'下载',id:'download'},
				{name:'复制'},
				{name:'粘贴'},
				{name:'删除',id:'delete'},
		];
		},
		data:{
			display:'none',
			x:'0px',
			y:'0px',
			list:[],
		},
		methods:{
			show:function(x,y){
				this.display="block";
				this.x=x;
				this.y=y;
			},
			hide:function(){
				this.display="none";
			},
			selectMenu:function(indexp,index){
				this.hide();
				var item={};
				if(index>-1){
					item=this.list[indexp].list[index];
				}else{
					item=this.list[indexp];
				}
				if(item.id=="open"){
					for(var i=0;i<fileList.fileList.length;i++){
						if(fileList.fileList[i].seleted){
							if(fileList.fileList[i].back){
								var path=fileList.path;
								path=path.substring(0, path.lastIndexOf('/'));
								path=path.substring(0, path.lastIndexOf('/'))+"/";
								fileList.load({name:path});
							}else{
								fileList.load({name:fileList.path+fileList.fileList[i].name+"/"});
							}
							
							break;
						}
					}
					
				}
				else if(item.id=="delete"){
					for(var i=0;i<fileList.fileList.length;i++){
						if(fileList.fileList[i].seleted&&!fileList.fileList[i].back){
							fileList.delet(fileList.path+fileList.fileList[i].name);
							break;
						}
					}
					
				}else if(item.id=="rename"){
					for(var i=0;i<fileList.fileList.length;i++){
						if(fileList.fileList[i].seleted&&!fileList.fileList[i].back){
							fileList.fileList[i].edit=true;
							break;
						}
					}
				}else if(item.id=="newDir"){
					console.log("创建目录");
					var item={};
					item.select=false;
					item.img="/icon/folder.png"
					item.edit=true;
					item.old="新建目录";
					item.type="newDir"
					item.isDir=true;
					item.size=0;
					item.name="新建文件";
					fileList.fileList.push(item);
				}else if(item.id=="newFile"){
					console.log("创建文件");
					var item={};
					item.select=false;
					item.img="/icon/file.png"
					item.edit=true;
					item.old="新建文件.txt";
					item.type="newFile"
					item.isDir=false;
					item.size=0;
					item.name="新建文件.txt";
					fileList.fileList.push(item);
				}else if(item.id=='refresh'){
					console.log("刷新");
					fileList.load({name:fileList.path});
				}else if(item.id=='upload'){
					fileList.$refs.filElem.dispatchEvent(new MouseEvent('click')) 
				}
				
			}
		},
	});

	toast=new Vue({
		el:'.toast',
		data:{
			msg:'test',
			display:'none',
			color:'#FFF',
			background:'#000',
		},
		methods:{
			show:function(text,time){
				if(time==undefined){
					time=1000;
				}
				this.msg=text;
				this.display='block';
				var that=this;
				if(time>0){
					setTimeout(function(){
						that.hide();
					}, time);
				}
			},
			text:function(text,time){
				if(time==undefined){
					time=1000;
				}
				this.msg=text;
				var that=this;
				setTimeout(function(){
					that.hide();
				}, time);
			},
			hide:function(){
				this.display='none';
			}
		}
	});
	</script>
  
</html>
