<!DOCTYPE html>
<html>
<head>
    <title>图标管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../../js/vue.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/app.css" />
    
</head>
<body>
    <div class="container icon">
        <div class="text-center">
            <h3>图标管理</h3>
        </div>
        <div class="panel panel-default">
                <div class="panel-body">
                        <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <label>
                                        后缀名:
                                        <input v-model="text">
                                    </label>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                        <label class=" col-md-12 col-lg-12 col-sm-12">
                                           <div class=" col-md-3 col-lg-3 col-sm-3">
                                               图标:
                                           </div>
                                            <ul class="select col-md-4 col-lg-4 col-sm-4">
                                                <li class="div ">
                                                        <template v-if="iconsrc=='' ">请选择:</template>
                                                        <template v-if="iconsrc!='' "><img v-bind:src="iconsrc" style="width:20px;height:20px"/></template>
                                                    <ul class="item">
                                                            <li v-for="(item,index) in iconSelect" v-bind:value="index" class="text-center" @click="selected(item)">
                                                                <img v-bind:src="item" style="width:20px;height:20px"/>
                                                            </li>
                                                    </ul>
                                                </li>
                                               
                                            </ul>
                                        </label>
                                </div>
                    
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                        <button class="btn btn-success" @click="add">
                                            添加
                                        </button>

                                        <button class="btn btn-success" @click="update">
                                            修改
                                        </button>
                                </div>
                        </div>
                </div>
        </div>
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3">id</div>
                        <div class="col-md-3 col-lg-3 col-sm-3">后缀名</div>
                        <div class="col-md-3 col-lg-3 col-sm-3">图标</div>
                        <div class="col-md-3 col-lg-3 col-sm-3">创建时间</div>
                    </div>
            </div>
            <div class="panel-body">
                    <div class="row row_item" style="padding:5px;border-bottom: 1px solid #CCC;" v-for="(item,index) in list" @click="selectItem(index)">
                        <div class="col-md-3 col-lg-3 col-sm-3">{{item.id}}</div>
                        <div class="col-md-3 col-lg-3 col-sm-3">{{item.name}}</div>
                        <div class="col-md-3 col-lg-3 col-sm-3"><img v-bind:src="item.icon"  style="width:20px;height:20px"></div>
                        <div class="col-md-3 col-lg-3 col-sm-3">{{item.cTime}}</div>
                </div>
            </div>
        </div>
       
    </div>
   
</body>

<script src="js/app.js"></script>
</html>
