<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../../js/vue.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <div class="can">
            <div class="menu">
                <ul>
                    <li class="first" v-for="(menuItem,index) in menu" >
                        <div>{{menuItem.name}}</div>
                        <template v-if="menuItem.sub">
                                <ul>
                                     <li class="second" v-for="(menusub,index) in menuItem.sub" @click="selectMenu(menusub.id)">{{menusub.name}}</li>
                                </ul>
                        </template>
     
                    </li>
                </ul>
            </div>
            <div class="content">
                <textarea class="edit" v-model="text" @keydown.ctrl.83.prevent="selectMenu('save')" @keydown="down"></textarea>
            </div>
    </div>
   
    <script>
    var id=getQueryString("id");
    console.log("==================");
    console.log("id:"+id);
    var itemStr=localStorage.getItem(id);
    var item=null;
    if(itemStr){
        item=JSON.parse(itemStr);
    }
    console.log("---------------item");
    console.log(item);
    console.log("---------------item");
    var note=null;
    note=new Vue({
        el:'.can',
        data:{
            text:'',
            menu:[
                {name:'文件',sub:[
                        {name:'新建',id:'new'},
                        {name:'打开',id:'open'},
                        {name:'保存',id:'save'}
                    ]
                },
                {name:'编辑'}
            ]
        },
        created:function() {
            var that=this;
            if(item!=null&&item.param!=null&&item.param.path!=null){
                var header={
                };
                console.log("name:"+item.param.path);
                var param={name:item.param.path};
                axios({
							method:'post',
							url:'/file/read.do',
							timeout: 1000,
							params:param,
					}).then(function(res){
                        console.log(res);
						if(res.data.success==0){
                            that.text=res.data.data;
                        }
					});
               
            }
        },
        methods: {
            selectMenu:function(id){
                //点击保存时
                if(id=='save'){
                    console.log("保存"+this.text);
                }
            },
            down:function(e){
                console.log("code:"+e.keyCode);
            }
        },
    });

    function getQueryString(name) { 
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        if (r != null) return unescape(r[2]); 
        return null; 
    }
    </script>
</body>